body{
		background-color: #8B8B8B;
		margin: 15px 100px 15px 100px;
		border: 10px solid #000000;
}

header{
	text-align: center;
	  position: relative;
}
h1{
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(0%, -20%);
	/*text-align:center;*/
	font-size: 100px;
}
header,img{
	width:98%;
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
	display: block;
	opacity: 0.8;
	border-radius: 20px 20px 20px 20px;
}
.navigation{
	margin: 10px 30px 10px 30px;
	height: 50px;
	border: 2px solid #000000;
	background-color:#808080;
}

.linkovi{
	float: left;
	background-color: #7A4600;
	color: #000000;
	padding: 10px 10px;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	/*border-radius: 10px 10px 10px 10px;*/
	/*margin: 10px 5px 10px 5px;*/
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	height:30px;
}

.linkovi:hover{
	background-color: #AC0000;
}

.ikona img{
	float:right;
	width: 30px;
	height: 30px;
	margin: 10px 10px 10px 10px;
	border-radius: 12px 12px 12px 12px;
}

.dropbtn {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	background-color: #7A4600;
	color: #000000;
	font-size: 20px;
	border: none;
	padding: 10px 10px;
	/*border-radius: 10px 10px 10px 10px;
	margin: 10px 5px 10px 5px;*/
	text-transform: uppercase;
	height: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	float: left;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	margin: 14px 0px 0px 0px;
	display: none;
	position: absolute;
	background-color: #898989;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.95);
	border-radius: 10px 10px 10px 10px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	font-size:17px;
	color: black;
	background-color: #7A4600;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin: 6px 6px 6px 6px;
	border-radius: 10px 10px 10px 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #AC0000;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #AC0000;}

article{
	width:60%;
	margin: 20px 20px 20px 20px;
	text-align: justify;
}
aside{
	width:30%;
	margin: 20px 20px 20px 20px;
	text-align: justify;
	
}

.footer_tablica{
	width:90%;
	border: 2px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
}