body{
		background-color: #8B8B8B;
		margin: 15px 100px 15px 100px;
		/*border: 1px solid #000000;*/
}

header{
	text-align: center;
    /*position: relative;*/
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}
/*h1{
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(0%, -20%);
	text-align:center;
	font-size: 100px;
}*/
header>img{
	width:100%;
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
	display: block;
	opacity: 0.8;
	border-radius: 20px 20px 0px 0px;
}
.navigation{
	width:100%;
	margin: 0px 0% 10px 0%;
	height: 50px;
	background-color: #707070;
	/*border: 1px solid #000000;*/
}

.navigation > a{
	float: left;
	background-color: #932AAE;
	color: #000000;
	/*margin-left:10px;*/
	padding: 12px 14px;  /*ovo FIXAJ*/
	font-size: 23px;
	text-decoration: none;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.navigation a:hover{
	background-color: #6B1E7F;
}

.navigation div~a{
	padding: 0px 0px;
	float:right;
	height:100%;
	/*border: 1px solid #000000;*/
}

.navigation div~a>img{ /* slike socijalnih linkova*/
    vertical-align: top;
	width: 32px;
	background-color: #000000;
	height: 32px;
	border-radius: 12px 12px 12px 12px;
	margin: 11px 11px 12px 12px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
	float: left;
	font-size: 23px;
	color: #000000;
	text-decoration: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	display: inline-block;
}


.dropbtn {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	background-color: #932AAE;
	color: #000000;
	padding: 12px 14px;  /*ovo FIXAJ*/
	font-size: 23px;
	border: none;
}





/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	margin: 14px 0px 0px 0px;
	display: none;
	position: absolute;
	background-color: #898989;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	border-radius: 10px 10px 10px 10px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	font-size:17px;
	color: black;
	background-color: #932AAE;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin: 6px 6px 6px 6px;
	border-radius: 10px 10px 10px 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #6B1E7F;
}

article{
	margin: 20px 20px 20px 20px;
	text-align: justify;
}




body { 
	width: 90%;
	/*max-width: 900px; */
	margin: 2em auto;
	font: .9em/1.2 Arial, Helvetica, sans-serif;
} 

.kontejner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;/*repeat*/
	grid-gap: 15px;
	margin: 10px 10px 10px 10px;
}

.kontejner > div {

	padding: 0px 0px; 
	background-color: #75587D; 
	text-align: justify;
	max-height:250px;
}



.naslov{
	border-bottom: 2px solid #000000;
	position:relative;
	width: 94%;
	font-size: 1.5em;
	padding: 2% 3%;
	text-align: justify;
	background-color:#4F0064;
	color: #C8C8C8;
}
.naslov>a{
	color:#C8C8C8;
}
.time_stamp{
	font-size:0.9em;
	width:30%;
	margin: 1% 3%;
}
.slika_vijesti{
	width:40%;
	margin: 1% 1% 1% 2%;
	border-radius: 2% 2% 2% 2%;
	float:left;
}
.text_vijesti{
	margin: 1% 3% 3% 3%;
	padding: 1% 1%;
	float: right;
	width: 48%;
	max-width:47%;
	height:63%;
	max-height:65%;
	overflow: hidden;
}

.footer_tablica{
	width:90%;
	border: 2px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	margin-top: 50px;
}

header {
	/*background: purple;
	height: 100px;*/
} 



.long-new-ogranici-sirinu{
	width:60%;
	margin: 0% 20%;
	background-color:grey;
	display:flex;
	flex-flow:row wrap;
}

.long-new-ogranici-sirinu span:nth-of-type(1) {
	background-color: #AAAA00;
	text-align: left;
	color: black;
	margin: 2% 2% 0% 2%; 
	padding: 2%;
	width:92%;
	font-size: 30px;
	text-decoration: bold;
} 
.long-new-ogranici-sirinu span:nth-of-type(2){
	background-color: #AAAA00;
	width:92%;
	padding: 1% 2%;
	margin: 0% 2% 2% 2%;
}
.long-new-ogranici-sirinu>section{
	display:flex;
	flex-flow: row wrap;
	justify-content:space-around;
	margin: 5px;
	background: #808000;
	margin:2%;
	border: 1px solid #000000;
}
.long-new-ogranici-sirinu>section>article:nth-of-type(1){
	width:42%;
	font-size: 17px;
}
.long-new-ogranici-sirinu>section>article:nth-of-type(2){
	width:46%;
}
.long-new-ogranici-sirinu>section>article:nth-of-type(2)>img{
	width:100%;
}
.long-new-ogranici-sirinu>section>article:nth-of-type(3){
	width:94%;
}


.zidni_sat_img{
	width:98%;
	padding:1%;
}
.zidni_sat_dolje{
	padding-left: 20px;
}


.iksoks_dolje{
	
	padding-left: 20px;
}



.biografija{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}

.biografija>img:nth-of-type(1){
	width:30%;
}
.biografija>section{
	width:20%;
}

.biografija>img:nth-of-type(2){
	width:45%;
}


.room_lighting{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}

.room_lighting>img:nth-of-type(1){
	width:30%;
}
.room_lighting>section{
	width:25%;
}

.room_lighting>img:nth-of-type(2){
	width:40%;
}


.pgolf{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}

.pgolf>img{
	width:70%;
}
.pgolf>section{
	width:25%;
}
